@import "tailwindcss";


.custom-toast {
  background-color: #303030 !important;
  color: white !important;             
}



select {    
  background-color: #282828;  
  appearance: none;
  cursor: pointer;  
  transition: all 0.3s ease;
 }

